<nav class="navbar">
    <ul>
        <li> <a href="/">HOME</a> </li>
        <li> <a href="#">QUEM SOMOS</a> </li>
        <li> <a href="#">PRODUTOS</a> </li>
        <li> <a href="#">SERVIÇOS</a> </li>
        <li> <a href="#">POSTS</a> </li>
        <li> <a href="#">CONTATO</a> </li>
    </ul>
</nav>