<!doctype html>
<html lang="pt-br">
<%- include('partials/head.ejs'); %>
<body>
<%- include('partials/header.ejs'); %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam assumenda corporis doloribus ducimus harum id magnam, maxime mollitia nostrum, officia provident rerum soluta temporibus ut velit vero! Vitae, voluptate.</p>

<%- include('partials/foot.ejs'); %>
</body>
</html>