* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*width: 100vw;*/
    min-height: 100vh;
}

header img {
    width: 100%;
    height: 400px;
}

.wrapper {
    display: flex;
    margin: 35px;
    min-height: 500px;
}

nav.navbar {
    margin-right: 35px;
}

nav.navbar ul {
    list-style: none;
}

nav.navbar li {
    /*display: flex;*/
    align-items: center;
    background-color: #4748D9;
    margin-bottom: 5px;
    border-radius: 10px 0 10px 0;
    width: 250px;
    /*height: 50px;*/
}

nav.navbar a {
    display: inline-block;
    color: white;
    width: 100%;
    padding: 15px 60px;
    /*padding: 10px;*/
    text-align: center;
    text-decoration: none;
    /*background-color: red;*/
}

article.content {
    background-color: #F2F2F2;
    padding: 45px;
    border-radius: 50px 0 0 0;
    width: 100%;
    /*height: 100%;*/
}

footer {
    background-color: #E9E9E9;
    text-align: center;
    width: 100%;
    padding: 20px;
}